<p>Please complete all of the steps on this page:</p>

<ul>
  <%= link_to 'Create An Invoice', new_customer_invoice_path(@customer), class: 'btn-create-invoice', id: 'fetch-customer-data', data: { customer_id: @customer.id } %>

</ul>
